body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



/* center a class called card and have it a little bit of padding and lower from navbar*/
.card {
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* .chart {
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  width: 10%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} */

.chart {
  width: 50%;
  padding-left: 20px;
  overflow: hidden;
  height: 0; /* Set initial height to 0 */
  transition: height 1s; /* Add a transition for the height property */
}
.chart1 {
  width: 50%;
  padding-left: 20px;
  overflow: hidden;
  height: 0; /* Set initial height to 0 */
  transition: height 1s; /* Add a transition for the height property */
}

/* Apply a class to trigger the animation when needed */
.animate {
  .chart {
    height: auto; /* Set to auto to allow the charts to expand */
  }
}
.img {
  background-blend-mode: multiply;
  max-width: 100%;
  max-height: 200px;
}

.footerline {
  height: 0px;
  background: #b1b5bb;
  box-shadow: 0px 8px 8px -4px rgba(24, 39, 75, 0.08),
    0px 4px 6px -4px rgba(24, 39, 75, 0.12);
  text-align: center;
  margin-left: 117px;
  margin-right: 117px;
}


.createseller {
  background-color: "purple";
  background-size: cover;
  background-repeat: no-repeat;
}

.accountsign {
  color: #fff;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  
}